header {
    position: fixed;
    top: 0;
    background-color: var(--nav-bg-clr);
    z-index: 111;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    box-shadow: 2px 2px 4px #111;
}
    h1 {
        display: flex;
        align-items: center;
        word-spacing: -5px;
        font-weight: 400;
        font-size: 2.5rem;
        color: var(--light-text-clr);
    }
        h1 .logo {
            height: 3rem;
            padding: 0 .5rem;
        }

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        li a {
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: var(--theme-clr);
            font-size: 1rem;
            padding: .25rem 1rem;
            transition: all 200ms linear;
        }
            a:hover {
                color: var(--dark-text-clr);
                background-color: var(--theme-clr);
            }

section {
    grid-template-columns: 1fr;
    position: relative;
}
section .pointer-left, 
section .pointer-right {
    position: absolute;
    top: 50vh;
    height: 2rem;
}
    .pointer-left {
        transform: rotate(180deg);
    }
    section .pointer-left {
        left: 0;
        
    }
    section .pointer-right {
        right: 0;
    }

section .category {
    width: 90vw;
    height: 15vh;
    margin: 0 auto;
    transform: translateY(-1.5rem);
    order: 2;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    color: var(--theme-clr);
    outline: 2px solid var(--theme-clr);
    outline-offset: -1rem;
}
    .category h2 {
        font-size: 4rem;
    }

section .slider {
    width: 100vw;
    height: 85vh;
    order: 1;
    display: inline-flex;
    transform: translateX(0);
    transition: transform 600ms ease-in-out;
    cursor: grab;   
    position: relative;  
}
    .slider .item {
        min-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20%; 
        user-select: none;
    }
        .item img {
            height: 40vh;
            transition: transform 400ms ease-in-out;
        }
        .slider.grabbed {
            cursor: grabbing;
        }
        .slider.grabbed img {
            transform: scale(.95);
        }