* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    overflow: hidden;
    background-color: #222;
    color: #ddd;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    height: 20vh;
    width: 100vw;
    background-color: #111;
}

main {
    height: 80vh;
    width: 100vw;
    background-color: crimson;

    scroll-behavior: smooth;
    /* height: 100vh; */
    overflow: auto;
    scroll-snap-type: y mandatory;
}

section {
    height: 100%;
    scroll-snap-align: center;

}

section:nth-child(1) {background-color: coral;}
section:nth-child(2) {background-color: yellow;}
section:nth-child(3) {background-color: lime;} 

section:nth-child(1) .category {background-color: red; width: 20vw; height: 80vh}
section:nth-child(2) .category {background-color: blue; width: 20vw; height: 80vh}
section:nth-child(3) .category {background-color: purple; width: 20vw; height: 80vh}