@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap&text=VestCardignWtch');

header {
    font-family: 'Big Shoulders Display', cursive;
}

.category h2 {
    font-family: 'Tangerine', cursive;
}