/* tablet screens */
@media only screen and (min-width: 415px) and (max-width: 768px) {
    html {
        font-size: 16px;
    }

    header {
        grid-template-columns: 1fr 1fr;
    }

    section {
        grid-template-columns: 1fr 4fr;
    }
        section .pointer-left {
            left: 20vw;
        }
        section .pointer-right {
            right: 5vw;
        }
        section .category {
            order: 1;
            width: 15vw;
            height: 85vh;
            margin: 10vh 0 0 2rem;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            text-align: right;
        }
            .category h2 {
                transform: rotate(0);
                font-size: 5rem;
            }
        section .slider {
            order: 2;
            width: 85vw;
            height: 100vh;
        }
            .slider .item {
                padding-top: 0;
                padding-bottom: 0;
            }
                .item img {
                    height: 40vh;
                }  
}

/* desktop screens */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    html {
        font-size: 18px;
    }

    header {
        grid-template-columns: 1fr 1fr;
        justify-content: flex-end;
    }
        h1 {
            font-size: 3rem;
        }
        li a {
            font-size: 1.25rem;
            padding: 1rem;
        }
    
    section {
        grid-template-columns: 1fr 3fr;
    }
        section .pointer-left {
            left: 25vw;
        }
        section .pointer-right {
            right: 10vw;
        }
        section .category {
            order: 1;
            width: 15vw;
            height: 80vh;
            margin: 15vh 0 0 2rem;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
        }
            .category h2 {
                font-size: 6rem;
            }

        section .slider {
            order: 2;
            width: 80vw;
            height: 100vh;
        }
            .slider .item {
                padding-top: 0;
                padding-bottom: 10%;
            }
                .item img {
                    height: 40vh;
                }
}

/* specific widths */
@media only screen and (min-width: 1025px) {
    html {
        font-size: 20px;
    }

    header {
        grid-template-columns: 1fr 1fr;
        justify-content: flex-end;
        padding: .5rem;
    }
        h1 {
            font-size: 3rem;
        }
            h1 .logo {
                height: 4rem;
            }

        li a {
            font-size: 1.5rem;
            padding: 1rem;
        }
    
    section {
        grid-template-columns: 1fr 3fr;
    }
        section .pointer-left {
            left: 25vw;
            height: 3rem;
        }
        section .pointer-right {
            right: 10vw;
            height: 3rem;
        }
        section .category {
            order: 1;
            width: 15vw;
            height: 80vh;
            margin: 15vh 0 0 2rem;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
        }
            .category h2 {
                font-size: 6rem;
            }

        section .slider {
            order: 2;
            width: 80vw;
            height: 100vh;
        }
            .slider .item {
                padding-top: 0;
                padding-bottom: 5%;
            }
                .item img {
                    height: 55vh;
                }
}

/* custom scrollbars */
/* width */
::-webkit-scrollbar {
    width: 2px;
    background: var(--nav-bg-clr);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--theme-clr);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--light-text-clr); 
}