@import './reset.css';
@import './fonts.css';
@import './composition.css';
@import './blocks.css';
@import './colors.css';
@import './media-queries.css';

html {
    font-size: 14px;
}

body {
    overflow: hidden;
    font-family: sans-serif;
    height: 100vh;
}

#cardigans .pointer-left.lime {border: 2px solid lime;}
